# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Connect Four\Connect-Four-Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
